{% extends 'users/base.html' %}
{% load static %}

{% block header %}
Регистрация
{% endblock %}

{% block content %}
    <div class="col-5 mx-auto">
    {% if message %}
    <div class="message">
        {{ message }}
    </div>
    {% endif %}
    <form class="form-horizontal" action="{% url 'users:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <input class="form-control" type="submit" value="зарегистрироваться">
    </form>
    </div>

{% endblock %}